@charset "UTF-8";

h1{
    text-align: center;
}

p{
    text-indent: 50px;
}

section#corpo{
    background-color: aquamarine; 
    margin: 15px;
    padding: 5px; 
    border-radius: 10%;
    box-shadow: 1px 2px 3px black;
}

body{
    background-color: burlywood;
}

footer{
    background-color: white;
    border-radius: 50%;
    text-align: center;
}
