@charset "UTF-8";

#paragrafo{
    text-align: center;
    text-transform: uppercase;
    background-color: brown;
    width: inherit;

}
.paragrafo2{
    text-align: center;
    background-color: rgba(163, 131, 131, 0.589); 
    font-family:sans-serif;
    color: rgba(168, 45, 34, 0.746);
}

p{
    text-indent: 50px;
}

section#corpo{
    background-color: aquamarine; 
    margin: 15px;
    padding: 5px; 
    /* border-radius: 10%; */
    box-shadow: 1px 2px 3px black;
    width: fit-content;
   
}

body{
    background-color: burlywood;
    width: fit-content;
}

footer{
    background-color: white;
    border-radius: 50%;
    text-align: center;
}

#imagem1{
    width: inherit;
    height: 400px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px black;
}
#met{
    display: flex;
    width: fit-content;
}

#conteudo{
    width: 360px;
    margin:20px;
    border: 1px solid white;
    padding: 4px;
}
